:host {
  display: block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  img{
    position: relative;
    transition: 0.3s ease;
    top: 0px;
  }

}
:host(:hover) img{
  top: -20px;
}