<app-paginador (nextPage)="nextPage()" (previousPage)="prevPage()"/>
<div id="lista">
@for (pokemon of pokemons; track $index) {

            <app-pokemon-card [pokemon]="pokemon.name"
            
            [imagen]="'https://img.pokemondb.net/sprites/black-white/shiny/'+pokemon.name+'.png'"
            class="contenedor {{pokemon.tipo}}"
            (clickName)="clickName($event)"/>
        
}
</div>

<!-- <app-paginador (indexActual)="actualizarIndex($event)"/>
<div id="lista">
    @for (pokemon of pokemons[index]; track $index) {
        <app-pokemon-detail [pokemon]="pokemon.name"
        [habilities]="pokemon.habilities"
        [imagen]="pokemon.src"
        (clickName)="clickName($event)"
        class="contenedor {{pokemon.tipo}}"/>
    }
</div> -->


