/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/585/452/950/pokemon-pokeballs-anime-minimalism-wallpaper-thumb.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}